.content {
    padding-top: 107px;
    margin: 0px;
    font: normal normal normal 36px/1em 'Century Gothic', sans-serif;
}

.content img{
	height:160px;
	width: 160px;
	border-radius: 80px;
}
.clear{
    overflow: hidden;
}
#prt {
    color: #818e2f;
    font-weight: bold;
    font-size: 42px;
}
#prt span{
	color: red;
}
#angrypranta{
	text-decoration: none;
	font-weight: bold;
	color:white;
	padding-top: 5px;

}
#angrypranta1 {
    background: #3F51B5;
    color: white;
    padding-top: 12px;
    height: 59px;
    width: 190px;
    border: 1px solid white;
    border-radius: 9px;
    font-size: 26px;
}
#angrypranta1:hover{
	border: 2px dotted black;
}