.box2{


    
    width: 79%;
    height: 460px;
    border-radius: 10px;
    margin-top: 100px;
    
    font-family: Century Gothic;

}
.box2 h1{
	padding-top: 40px;
	font-size: 30px;
	padding-bottom: 10px;

}
.box2 h1 span{
	color:#9fb038;
	}
.box2:hover{
    background: #F9EBD8;
}
.box2 p{
	font-size: 21px;
	padding-bottom: 10px;
}
.box2 img{
	margin-top: 50px;
	border:3px solid white;
	border-radius: 30px;
}
.box2 table{
margin:0px;
padding: 0px;
}
.box2 table td {
    margin: 0px;
    padding: 0px;
    width: 87px;
}
.p1{
	margin-top: 10px;
	float: left;
	width:45%;
	border-right:1px dotted red;
}
.p2{
	margin-top: 10px;
	float:right;
	width:53%;
	padding-left: 10px;
	text-align: left;
}
.p2 img {
    height: 27px;
    width: 33px;
    padding: 0px;
    margin: 0px;
}
#user {
    margin-top: 5px;
    padding-top: 37px;
    /* height: 71px; */
}
.box3{
	padding-top: 30px;
}